
.todolistListBlock {
    margin-top: 50px;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;

    .topPathContainer {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;


    }
    .todolistListBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}


